---
# tasks file for kube_prometheus_stack
- name: Install dependencies for k8s modules
  ansible.builtin.apt:
    name: ["python3-pip"]
    update_cache: true
  become: true

- name: Install python k8s client libs
  ansible.builtin.pip:
    name: ["kubernetes", "openshift", "pyyaml"]
  become: true

- name: Add Helm repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: "https://prometheus-community.github.io/helm-charts"

- name: Ensure monitoring namespace exists
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ monitoring_namespace }}"
    state: present

- name: Install kube-prometheus-stack
  kubernetes.core.helm:
    name: "{{ kps_release }}"
    chart_ref: "{{ kps_chart }}"
    chart_version: "{{ (kps_chart_version | length > 0) | ternary(kps_chart_version, omit) }}"
    release_namespace: "{{ monitoring_namespace }}"
    wait: true
    values:
      grafana:
        adminPassword: "{{ grafana_admin_password }}"
        service:
          type: ClusterIP

- name: Apply external node-exporter Services/Endpoints/ServiceMonitor
  kubernetes.core.k8s:
    state: present
    src: "{{ item }}"
  loop:
    - "files/external-node-exporter/lan-node-exporter.yaml"
    - "files/runner-node-exporter.yaml"
    - "files/infra-node-exporter.yaml"
    - "files/servicemonitors.yaml"
