---
# defaults file for kubernetes
packages:
  - apt-transport-https
  - ca-certificates
  - gpg
  - curl
  - software-properties-common
  - pip
  - nfs-common

kube_packages:
  - cri-o
  - kubelet
  - kubeadm
  - kubectl

curl_commands:
  - "curl -fsSL https://pkgs.k8s.io/addons:/cri-o:/prerelease:/main/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/cri-o-apt-keyring.gpg"
  - "curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg"
  - "curl https://baltocdn.com/helm/signing.asc | gpg --dearmor | sudo tee /usr/share/keyrings/helm.gpg > /dev/null"

apt_lists:
  - {
      content: "deb [signed-by=/etc/apt/keyrings/cri-o-apt-keyring.gpg] https://pkgs.k8s.io/addons:/cri-o:/prerelease:/main/deb/ /",
      dest: "/etc/apt/sources.list.d/cri-o.list",
    }
  - {
      content: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /",
      dest: "/etc/apt/sources.list.d/kubernetes.list",
    }
delegation_nodes:
  - k8s-worker1
  - k8s-worker2

kubeconfig_directories:
  - /home/pierre/.kube
  - /root/.kube

kubeconfig_files:
  - /home/pierre/.kube/config
  - /root/.kube/config

worker_node_taints:
  - kubectl label nodes k8s-worker1 node-role.kubernetes.io/worker=worker
  - kubectl label nodes k8s-worker2 node-role.kubernetes.io/worker=worker
  -
ip_forward_value: 1
