- name: start and enable crio service
  ansible.builtin.systemd:
    name: crio
    state: started
    enabled: true

- name: Check if Kubernetes cluster is already initialized
  ansible.builtin.stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_status

- name: Initialize Kubernetes cluster with kubeadm (Master node)
  ansible.builtin.shell: |
    kubeadm init --pod-network-cidr={{ kubeadm_pod_network_cidr }} --service-cidr={{ k8s_service_cidr }}
  when:
    - ansible_hostname == "kube-control"
    - not kubeadm_status.stat.exists

- name: Get the kubeadm join command
  become_user: root
  command: kubeadm token create --print-join-command
  register: kubernetes_join_command_result
  run_once: true
  when: ansible_hostname == "kube-control"

- name: Set join command as a fact
  set_fact:
    kubernetes_join_command: "{{ kubernetes_join_command_result.stdout }}"
  delegate_to: "{{ item }}"
  loop: "{{ delegation_nodes }}"
  delegate_facts: true
  when: kubernetes_join_command_result.stdout is defined

- name: create directory for kubeconfig
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  when: ansible_hostname == "kube-control"
  loop: "{{ kubeconfig_directories }}"

- name: Copy kubeconfig file to the local machine for kubectl
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: "{{ item }}"
    remote_src: yes
  when: ansible_hostname == "kube-control"
  loop: "{{ kubeconfig_files }}"

- name: remove taint from master node
  ansible.builtin.shell: |
    kubectl taint nodes kube-control node-role.kubernetes.io/control-plane:NoSchedule-
  when: ansible_hostname == "kube-control"
  ignore_errors: yes

- name: install calico
  command: kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
  when: ansible_hostname == "kube-control"
