---
- name: controlplane installation and configuration
  ansible.builtin.include_tasks: prereq.yml
  when: inventory_hostname in groups['kube']

- name: controlplane installation and configuration
  ansible.builtin.include_tasks: controlplane.yml
  when: inventory_hostname in groups['kube_masters']

- name: worker-node joining cluster
  ansible.builtin.include_tasks: workernode.yml
  when: inventory_hostname in groups['kube_workers']
